resources:
- name: vega-billing-service-account-{{ env["project_number"] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: vega-billing-sa-{{ env["project_number"] }}
    displayName: Vega Billing Service Account
- name: vega-billing-dataset
  type: bigquery.v2.dataset
  properties:
    datasetReference:
      datasetId: VegaBillingDataset
    friendlyName: VegaBillingDataset
    description: Dataset used to export GCP Billing data for consumption with the Vega Platform
    location: us-west2
    storageBillingModel: PHYSICAL
    isCaseInsensitive: false
    maxTimeTravelHours: 48
    access:
    - role: roles/bigquery.dataViewer
      userByEmail: $(ref.vega-billing-service-account-{{ env["project_number"] }}.email)
- name: "vega-billing-export-{{ env["project_number"] }}"
  type: storage.v1.bucket
  properties:
    location: US
    storageClass: STANDARD
    predefinedAcl: projectPrivate
    projection: full
    lifecycle:
      rule:
        - action:
            type: Delete
          condition:
            age: 30
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: roles/storage.objectUser
        members:
        - "serviceAccount:$(ref.vega-billing-service-account-{{ env["project_number"] }}.email)"
      - role: roles/storage.admin
        members:
        - "serviceAccount:{{ env["project_number"] }}@cloudservices.gserviceaccount.com"
outputs:
- name: project-id
  value: {{ env["project"] }}
- name: project-number
  value: {{ env["project_number"] }}
- name: vega-billing-service-account
  value: $(ref.vega-billing-service-account-{{ env["project_number"] }}.email)
- name: vega-cloud-storage-export-bucket
  value: $(ref.vega-billing-export-{{ env["project_number"] }}.name)
